

@model List<AttendeesModel>

<link rel="stylesheet" href="~/css/Attendees.css" asp-append-version="true" />

<h1 style="color: white; text-align: center; font-family: monospace;">
    Attendees 
</h1>

<div class="grid-x">
    <div class="cell small-offset-1 small-10 medium-offset-1 medium-10 large-offset-1 large-10" style="display: flex; align-items: center;">
        <h5 style="color: white;">Year: </h5>
        <select id="yearDropdown" style="width: 100px; margin-left: 10px;">
            <option  value="2022">2022</option>
            <option selected value="2024">2024</option>
        </select>
    </div>
</div>

<div class="grid-x">
    <div class="cell small-offset-1 small-10 medium-offset-1 medium-10 large-offset-1 large-10">
        <div id="attendeesContainer">

            @await Html.PartialAsync("_AttendeesTable.cshtml", Model)
        </div>
       
        <!--<table class="table-stripes">
            <thead>
                <tr>
                    <th>Profile Image</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Topping</th>
                    <th>Attending</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var attendee in Model)
                    {
                        <tr style="border-top: none; border-bottom: none;">
                            <td><img id="profileImage" src="@attendee.ProfileImage" alt="Profile Image" /></td>
                            <td>@attendee.FirstName</td>
                            <td>@attendee.LastName</td>
                            <td>@attendee.Topping</td>
                            <td>
                                <div class="@(attendee.Attendance)" style="display: inline; padding:5px; border-radius: 5px;">
                                    @(attendee.Attendance)
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">No attendees found.</td>
                    </tr>
                }
            </tbody>
        </table>  -->

    </div>
    

</div>


<script src="~/js/Attendees/Attendees.js"></script>



