<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wiffles N' Waffles</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites/dist/css/foundation.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WifflesNWaffles.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Wiffles N' Waffles</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarNav">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Event" ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="Event">Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "RSVP" ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="RSVP">RSVP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Attendees" ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="Attendees">Attendees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "History" ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="History">History</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="" style="background-color: black; display: flex; ">
        <main  class="">
            @RenderBody()
        </main>
    </div>

   
   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>

        document.addEventListener('click', function (event) {
            var navbar = document.getElementById('navbarNav');
            var navbarToggler = document.querySelector('.navbar-toggler');

            if (!navbar.contains(event.target) && !navbarToggler.contains(event.target) && navbar.classList.contains('show')) {
                navbarToggler.click();
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
